html {
	font-family: "Cairo", sans-serif;
}

.main {
	width: 40%;
	/* box-shadow: 1px 1px 10px silver; */
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

input {
	margin-bottom: 10px;
	width: 60%;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
}

button {
	border: none;
	padding: 10px;
	width: 40%;
	font-weight: bold;
	font-size: 15px;
	background-color: #1ac15c;
	cursor: pointer;
	margin-bottom: 15px;
	font-family: "Cairo", sans-serif;
}

label {
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	background-color: #1f87df;
	cursor: pointer;
	color: white;
}

a {
	text-decoration: none;
	font-size: 20px;
	color: tomato;
	font-weight: bold;
}

p {
	text-align: center;
}
